
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h1 {
    color: white;
    margin: 0;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

nav a:hover {
    color: #ffeb3b;
}

h2 {
    color: #333;
    text-align: center;
    margin-top: 20px;
    font-size: 36px;
}

section {
    padding: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.contacto {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.contacto h2 {
    color: #4CAF50;
    margin-bottom: 40px;
}

.formulario-contacto {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.formulario-contacto label {
    display: block;
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

.formulario-contacto input, 
.formulario-contacto textarea {
    width: 100%;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 20px;
    background-color: #f4f4f4;
}

.formulario-contacto textarea {
    resize: vertical;
}

.formulario-contacto button {
    grid-column: span 2;
    padding: 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.formulario-contacto button:hover {
    background-color: #45a049;
}


.mapa {
    margin-top: 40px;
    text-align: center;
}

.mapa img {
    max-width: 100%;
    height: auto;
    border: 2px solid #ddd;
    border-radius: 10px;
}


@media (max-width: 768px) {
    .formulario-contacto {
        grid-template-columns: 1fr;
    }
}
